.main 
{
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.main::after 
{
    content: "";
    position: absolute;
    width: 5px;
    background: linear-gradient(
        to bottom,
        rgba(80, 80, 80, 0) 0%,
        rgb(80, 80, 80) 8%,
        rgb(80, 80, 80) 92%,
        rgba(80, 80, 80, 0) 100%
    );
    top: 0;
    bottom: 0;
    left: 50.3%;
    margin-left: -3px;
}

.text-wrapper 
{
    padding: 10px 40px;
    position: relative;
    width: 51%;
    box-sizing: border-box;
}

.text-wrapper::after 
{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    right: -9px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 4px #59bf6a, inset 0 2px 0 rgb(0 0 0 / 8%),
        0 3px 0 4px rgb(0 0 0 / 5%);
    background: #ffffff;
    transform: scale(0.7);
}

.left 
{
    left: 0;
}

.right 
{
    left: 50%;
}

.right::after 
{
    left: -11px;
} 

.content 
{
    padding: 10px 10px 10px 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    margin: 0;
    transform: scale( 0.8 );
}

.content h3 
{
    font-size: 1rem;
    color: #404040;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.content p 
{
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    font-style: italic;
    font-size: 0.8rem;
} 

dt
{
    color: #f60;
}