<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  #Loading PHP as if is public/ from /
  RewriteRule ^$ public/index.php [L]
  #Loading page as if is public/ from /
  RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

  RewriteRule (^\.|/\.) - [F]

  <Files .env>
     order allow,deny
     Deny from all
  </Files>

</IfModule>
