/* importando os icones do CDN do bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

/*  Colocando as cores via variáveis */
:root
{
    --olho: '\F33E';
    
    --bs-primary: #ffa800;

    --bs-dark: #cccccc;

    --bs-secondary: #6c757d;
}


/* Pseudo elemento inserido antes do input que tem a classe senha aplicada */
.senha::before
{
   content: var( --olho );
   font-family: "bootstrap-icons";
   font-size: 22px;
   display: block;
   color: black;
   position: absolute;
   width: 58px;
   height: 56px;
   /* border-radius arredonda os cantos 0 0 0 0 */
   border-radius: 0 5px 5px 0;
   text-align: center;
   line-height: 60px;
   top: 1px;
   right: 1px;
   cursor: pointer;/* permite mudar o cursor do mouse */
   background: #fff;
}

