:root 
{
    --raisin-black-2: hsla(236, 17%, 17%, 0.95)!important;
    --raisin-black-3: hsla(280, 11%, 11%, 0.85)!important;

    --status-open: #34ff4a;
    --status-close: #ff3434;
}

.status-dot,
.status-dot::before
{
    background-color: var( --status-open )!important;
}



@media (min-width: 1400px)
{
    .header-bottom h1
    {
        margin-left: 15vw;
    }

    .header-bottom::after 
    {
        left: 20vw!important;
        width: 8px!important;
    }
}

@media (min-width: 1600px)
{
    .header-top
    {
        background-color: var(--raisin-black-3);
    }

    .search-btn
    {
        box-shadow: none!important;
    }

    .header-bottom h1
    {
        margin-left: 0;
    }

    .header-bottom::after 
    {
        left: 15vw!important;
        width: 8px!important;
    }

    #home
    {
       margin-top: -9rem;
    }

    .destaque
    {
        margin-top: 10rem;
    }

    .destaque figure 
    {
        margin-top: 25rem;
    }
    
}